<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
  <h1>Informations sur l'action</h1>

    <form action="/ajouter_action" method="post">
        <label for="symbole">Symbole boursier : </label>
        <input type="text" id="symbole" name="symbole" required>
        <br>
        <label for="nom_entreprise">Nom de l'entreprise : </label>
        <input type="text" id="nom_entreprise" name="nom_entreprise" required>

        <input type="submit" value="Ajouter">
    </form>
    <button type="button" onclick="window.location.replace('{{ url_for('menu') }}')">Annuler</button>
</body>
</html>
