<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>Données sur les actions en bourse</title>
    <style>
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .button-link:hover {
            background-color: #0056b3;
        }
        fieldset { width: 550px; /* Largeur fixe */
            margin-left: 0; /* Alignement à gauche */
            margin-right: auto; /* Facultatif, pour éviter d'autres centrages */ }
    </style>
</head>

<body>
    <h1 align="center">Bienvenu dans le menu</h1>
        <h2 align="center" style = "color:red;" >{{ message }}</h2>

        <form action="/operation_action" method="POST">
            <table>
                <tr>
                    <td>Symbole</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>
                        <select id="symbole" name="symbole">
                            {% for symbole in symboles %}
                            <option value="{{ symbole }}">{{ symbole }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="date" id="date" name="date" />
                    </td>
                </tr>
            </table>
            <fieldset style="border: 2px solid #007BFF; padding: 20px; width: 600px; margin: 20px auto;" align="left">
                <legend style="font-weight: bold;">Action</legend>
                <table>
                    <tr>
                        <td>
                            <button type="submit" name="operation" value="ajouter" class="button-link">Ajouter une action</button>
                        </td>
                        <td>
                            <button type="submit" name="operation" value="modifier" class="button-link">Modifier une action</button>
                        </td>
                        <td>
                            <button type="submit" name="operation" value="supprimer" class="button-link">Supprimer une action</button>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="border: 2px solid #007BFF; padding: 20px; width: 600px; margin: 20px auto;" align="left">
                <legend style="font-weight: bold;">Prix de l'action</legend>
                <table>
                    <tr>
                        <td>
                            <button type="submit" name="operation" value="ajouter_prix" class="button-link">Ajouter un prix</button>
                        </td>
                        <td>
                            <button type="submit" name="operation" value="modifier_prix" class="button-link">Modifier un prix</button>
                        </td>
                        <td>
                            <button type="submit" name="operation" value="supprimer_prix" class="button-link">Supprimer un prix</button>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="border: 2px solid #007BFF; padding: 20px; width: 600px; margin: 20px auto;" align="left">
                <legend style="font-weight: bold;">Données sur l'action</legend>
                <table>
                    <tr>
                        <td>
                            <button type="submit" name="operation" value="afficher_graphiques" class="button-link">Afficher les graphiques</button>
                        </td>
                        <td>
                            <button type="submit" name="operation" value="afficher_prix_statistiques" class="button-link">Afficher les prix et les statistiques</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>


</body>
</html>