<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>Données sur les actions en bourse</title>
    <style>
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .button-link:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Bienvenu dans le menu</h1>
        <form action="/operation_action" method="POST">
            <table>
                <tr>
                    <td>Symbole</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>
                        <select id="symbole" name="symbole">
                            {% for symbole in symboles %}
                            <option value="{{ symbole }}">{{ symbole }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="date" id="date" name="date" />
                    </td>
                </tr>
            </table>

            <!--<a href="/ajouter_action" class="button-link">Ajouter une action</a>
            <a href="/modifier_action" class="button-link">Modifier une action</a>-->
            <button type="submit" name="operation" value="ajouter" class="button-link">Ajouter une action</button>
            <button type="submit" name="operation" value="modifier" class="button-link">Modifier une action</button>

        </form>


</body>
</html>