<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
  <h1>Informations sur l'action</h1>

    <form action="/modifier_action" method="post">
        <label for="symbole">Symbole boursier : </label>
        <input type="text" id="symbole" name="symbole" readonly value="{{ symbole }}">
        <br>
        <label for="nom_entreprise">Nom de l'entreprise : </label>
        <input type="text" id="nom_entreprise" name="nom_entreprise" required value="{{ nom_entreprise }}">

        <input type="submit" value="Modifier">
    </form>

</body>
</html>
